html{
  font-size: 16px;
}

.titulo__portal{
  font-size: 2.5rem;
  text-align: center;
}

nav{
    grid-area: na;
    text-align: center;
}

.normal__home{
    padding: 1%;
}

a{
    text-decoration: none;
}

.texto__urgente__home{
    color: white;
    font-size: 1.3rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

header{
    grid-area: he;
}

.urgente__home{
    grid-area: ur;
    background-color: red;
    text-align: center;
    padding: 1%;
}

.titulo__normal__home{
    padding-top: 5%;
    padding-bottom: 2%;
}

.titulo__normal__home a{
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a1{
    grid-area: a1;
}

.a2{
    grid-area: a2;
}

.a3{
    grid-area: a3;
}

.a4{
    grid-area: a4;
}

.a5{
    grid-area: a5;
}

.a6{
    grid-area: a6;
}

.a7{
    grid-area: a7;
}

.a8{
    grid-area: a8;
}

.a9{
    grid-area: a9;
}

.a10{
    grid-area: a10;
}

.a11{
    grid-area: a11;
}

.a12{
    grid-area: a12;
}

.contenedor__home {
    display: grid;

    @media only screen and (min-width: 1001px)  {

        grid-template-areas:
            "ur ur ur"
            "na na na"
            "a1 a2 a3"
            "a4 a5 a6"
            "a7 a8 a9"
            "a10 a11 a12";
    }

    @media only screen and (min-width: 691px) and (max-width: 1000px) {
        grid-template-areas:
            "ur ur"
            "na na"
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8"
            "a9 a10"
            "a11 a12";

    }

    @media only screen and (max-width: 690px) {
        grid-template-areas:
            "ur"
            "na"
            "a1"
            "a2"
            "a3"
            "a4"
            "a5"
            "a6"
            "a7"
            "a8"
            "a9"
            "a10"
            "a11"
            "a12";
    }

}
